$cl-1 : #111;
$cl-hover: #cc2229;
$cl-border: #e8e8e8;
$cl-gray: gray;
$cl-cyan: #0C7C94;
$cl-blue: #005fb0;
$cl-f3: #f3f3f3;
$cl-blue-ebomb: #00aeef;


// $font-regular : 'Roboto-Regular';
// $font-bold : 'Roboto-Bold';
// $fs-50: 50px;

