@charset "UTF-8";
html,
body {
  min-height: 100%;
}

body {
  color: #000;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-weight: 600;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: 600;
}

a {
  color: #000;
  text-decoration: none !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
.btn,
span {
  outline: none !important;
}

.img-cover {
  display: block;
  width: 100%;
  height: 100%;
}

.img-cover img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-scaledown {
  display: block;
  width: 100%;
  height: 100%;
}

.img-scaledown img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.img-fill {
  display: block;
  width: 100%;
  height: 100%;
}

.img-fill img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.img-contain {
  display: block;
  width: 100%;
  height: 100%;
}

.img-contain img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-none {
  display: block;
  width: 100%;
  height: 100%;
}

.img-none img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
}

/* ----------------------- Hiệu ứng hover ảnh ----------------------- */
/* ----------------------- End Hiệu ứng hover ảnh ----------------------- */
*:hover {
  -webkit-transition: all .25s;
  transition: all .25s;
}

.active-pc {
  display: block;
}

@media (max-width: 414px) {
  .active-pc {
    display: none;
  }
}

.active-mb {
  display: none;
}

@media (max-width: 414px) {
  .active-mb {
    display: block;
  }
}

.dp-block {
  display: block;
}

.dp-none {
  display: none;
}

.row.row-mg-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.row.row-mg-0 .col-pd-0 {
  padding-right: 0px;
  padding-left: 0px;
}

.row.row-mg-75 {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.row.row-mg-75 .col-pd-75 {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.row.row-mg-10 {
  margin-left: -10px;
  margin-right: -10px;
}

.row.row-mg-10 .col-pd-10 {
  padding-right: 10px;
  padding-left: 10px;
}

.mt40 {
  margin-top: 40px;
}

.mb0 {
  margin-bottom: 0px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb50 {
  margin-bottom: 50px;
}

.text-red {
  color: red;
}

.text-bold {
  font-weight: 600;
}

.text-cyan {
  color: #0C7C94;
}

#to_top {
  display: none;
  border: medium none;
  bottom: 20px;
  cursor: pointer;
  text-align: center;
  height: 30px;
  line-height: 32px;
  outline: medium none;
  padding: 0;
  position: fixed;
  right: 20px;
  width: 30px;
  z-index: 89;
  background: #00aeef;
}

#to_top i {
  color: #fff;
}

@media (max-width: 414px) {
  #to_top {
    right: 15px;
    bottom: 70px;
  }
}

.box-button .btn.btn-cyan {
  background-color: #0C7C94;
  color: #fff;
}

.box-button .btn.btn-cyan:hover {
  background-color: #179ebb;
}

.box-button .btn.btn-blue-ebomb {
  background-color: #00aeef;
  color: #fff;
}

.box-button .btn.btn-blue-ebomb:hover {
  background-color: #029cd6;
}

.bg-f3 {
  background-color: #f3f3f3;
}

.sec-head.sec-head-common-1 {
  padding: 20px 35px;
}

.sec-head.sec-head-common-1 .heading {
  font-size: 25px;
  font-weight: 500;
}

@media (max-width: 414px) {
  .sec-head.sec-head-common-1 {
    padding: 20px 0;
  }
}

.list-photo {
  margin-left: 35px;
  border: 1px solid #e8e8e8;
}

.list-photo li .photo-title {
  display: block;
  color: #005fb0;
  padding: 10px 15px;
}

.list-photo li .photo-title:hover {
  background-color: #f9f9f9;
}

.list-photo li:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}

.list-photo.list-right {
  margin-left: 20px;
}

@media (max-width: 414px) {
  .list-photo.list-right {
    margin-left: 0px;
  }
}

@media (max-width: 414px) {
  .list-photo {
    margin-left: 0px;
    margin-bottom: 25px;
  }
}

@media (max-width: 414px) {
  .main-content {
    background-color: #fff;
  }
}

.aside-right {
  padding: 0;
}

.header-pc {
  border-bottom: 1px solid #e8e8e8;
  -webkit-box-shadow: 0px 5px 10px #ccc;
          box-shadow: 0px 5px 10px #ccc;
  padding: 15px 0;
}

.header-pc .header-pc-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 35px;
}

.header-pc .header-pc-content__logo .image img {
  height: 50px;
}

.header-pc .header-pc-content__toolbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-pc .header-pc-content__toolbox .box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 24px;
}

.header-pc .header-pc-content__toolbox .box-info .info-ava {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 15px;
}

.header-pc .header-pc-content__toolbox .box-info .info-ava img {
  border-radius: 50%;
}

.header-mb #menu-container .panel-head-mb {
  padding: 15px 15px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #00aeef;
}

.header-mb #menu-container .panel-head-mb #menu-wrapper {
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
}

.header-mb #menu-container .panel-head-mb #menu-wrapper #hamburger-menu {
  position: relative;
  width: 25px;
  height: 20px;
}

.header-mb #menu-container .panel-head-mb #menu-wrapper #hamburger-menu span {
  opacity: 1;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  color: #fff;
  background-color: #fff;
  position: absolute;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.header-mb #menu-container .panel-head-mb #menu-wrapper #hamburger-menu span:nth-child(1) {
  top: 0;
}

.header-mb #menu-container .panel-head-mb #menu-wrapper #hamburger-menu span:nth-child(2) {
  top: 9px;
}

.header-mb #menu-container .panel-head-mb #menu-wrapper #hamburger-menu span:nth-child(3) {
  top: 18px;
}

.header-mb #menu-container .panel-head-mb #menu-wrapper #hamburger-menu.open span:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(135deg);
          transform: translateY(9px) rotate(135deg);
}

.header-mb #menu-container .panel-head-mb #menu-wrapper #hamburger-menu.open span:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}

.header-mb #menu-container .panel-head-mb #menu-wrapper #hamburger-menu.open span:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-135deg);
          transform: translateY(-9px) rotate(-135deg);
}

.header-mb #menu-container .panel-head-mb .button,
.header-mb #menu-container .panel-head-mb .btn {
  padding: 0;
  font-size: 14px;
}

.header-mb #menu-container .panel-head-mb .button:hover,
.header-mb #menu-container .panel-head-mb .btn:hover {
  outline: none;
  background-color: transparent;
}

.header-mb #menu-container .panel-head-mb .logout-mb .logout-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-mb #menu-container .panel-head-mb .logout-mb .logout-content .avatar .image img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.header-mb #menu-container .panel-head-mb .logout-mb .logout-content .box-logout a {
  color: #333;
  font-size: 12px;
}

.header-mb #menu-container .panel-head-mb .logout-mb.logout-index .box-logout a {
  color: #fff;
}

.header-mb #menu-container .panel-head-mb .logout-mb.logout-index .box-logout a:hover {
  color: #cc2229;
}

.header-mb #menu-container .panel-body-mb .menu-list {
  padding-left: 0;
  display: block;
  position: absolute;
  width: 100%;
  max-width: 450px;
  background: white;
  z-index: 999;
  overflow-y: auto;
  overflow-x: hidden;
  left: -100%;
  background-color: #f9f9f9;
  padding-bottom: 50px;
}

.header-mb #menu-container .panel-body-mb .menu-list li.search-mb {
  position: relative;
  padding: 15px 15px 15px 15px;
  border-bottom: 1px solid #dbdcd2;
}

.header-mb #menu-container .panel-body-mb .menu-list li.search-mb svg {
  position: absolute;
  top: 22.5px;
  left: 25px;
}

.header-mb #menu-container .panel-body-mb .menu-list li.search-mb .input-search {
  width: 100%;
  padding: 7.5px 10px 7.5px 40px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
}

.header-mb #menu-container .panel-body-mb .menu-list li.toggle {
  font-size: 16px;
  margin: 0 15px;
  padding: 15px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #dbdcd2;
}

.header-mb #menu-container .panel-body-mb .menu-list li.toggle .menu-link {
  color: #000;
}

.header-mb #menu-container .panel-body-mb .menu-list li.toggle.accordion-toggle {
  cursor: pointer;
  font-size: 16px;
  position: relative;
  letter-spacing: 1px;
}

.header-mb #menu-container .panel-body-mb .menu-list li.toggle.accordion-toggle.active-tab {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-mb #menu-container .panel-body-mb .menu-list li.toggle.accordion-toggle a:before, .header-mb #menu-container .panel-body-mb .menu-list li.toggle.accordion-toggle a:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 15px;
  height: 2px;
  margin-top: -1px;
  background-color: #5a5858;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.header-mb #menu-container .panel-body-mb .menu-list li.toggle.accordion-toggle a:before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 1;
  z-index: 2;
}

.header-mb #menu-container .panel-body-mb .menu-list li.toggle.accordion-toggle a.active:before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  background: #5a5858 !important;
}

.header-mb #menu-container .panel-body-mb .menu-list li.toggle.accordion-toggle a.active:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: #5a5858 !important;
  opacity: 0;
}

.header-mb #menu-container .panel-body-mb .menu-list li.menu-active-mb .menu-link {
  color: #00aeef;
}

.header-mb #menu-container .panel-body-mb .menu-list .menu-submenu {
  margin: 0 40px;
}

.header-mb #menu-container .panel-body-mb .menu-list .menu-submenu.accordion-content {
  display: none;
}

.header-mb #menu-container .panel-body-mb .menu-list .menu-submenu li {
  padding: 10px;
  border-bottom: 1px solid #dbdcd2;
}

.header-mb #menu-container .panel-body-mb .menu-list .menu-submenu li .head {
  color: #000;
}

.footer {
  border-top: 1px solid #e8e8e8;
  padding: 15px 20px 5px 20px;
}

.footer .text {
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 14px;
  color: #666;
  text-align: center;
  line-height: 1.5;
}

.aside-menu li .menu-title {
  display: block;
  padding: 15px 15px 15px 35px;
}

.aside-menu li .menu-title i {
  margin-right: 10px;
  width: 16px;
  color: #666;
}

.aside-menu li .menu-title:hover {
  background-color: #f9f9f9;
}

.test-content-common {
  border-left: 1px solid #e8e8e8;
  padding-bottom: 50px;
}

.test-content-common.test-content-common-1 {
  border-left: none;
  background-color: #fff;
  min-height: 82vh;
}

.test-content-common.test-content-common-2 {
  border-left: none;
  background-color: #fff;
  padding: 100px 50px;
  min-height: 72vh;
}

@media (max-width: 414px) {
  .test-content-common.test-content-common-2 {
    padding: 20px 15px;
  }
}

.aside-road {
  margin-bottom: 30px;
}

.aside-road .road-title {
  padding: 15px;
  color: #fff;
  background-color: #0C7C94;
  text-transform: uppercase;
  cursor: pointer;
}

.aside-road .road-content .list-part {
  border-left: 1px solid #e8e8e8;
  background-color: #fff;
}

.aside-road .road-content .list-part li .part-detail {
  padding: 15px 15px 15px 60px;
  position: relative;
}

.aside-road .road-content .list-part li .part-detail .title {
  color: #000;
  font-weight: 500;
  margin-bottom: 5px;
}

.aside-road .road-content .list-part li .part-detail .sub-title {
  color: #666;
}

.aside-road .road-content .list-part li .part-detail .item-line-height {
  position: absolute;
  content: '';
  top: 0;
  left: 29px;
  width: 2px;
  height: 100%;
  background-color: #ccc;
}

.aside-road .road-content .list-part li .part-detail .item-circle {
  position: absolute;
  content: '';
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 17.5px;
  width: 25px;
  height: 25px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside-road .road-content .list-part li .part-detail i.checked {
  display: inline-block;
  margin: -1px 0 0 -1px;
  font-size: 23px;
  color: #0C7C94;
}

.aside-road .road-content .list-part li:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}

@media (max-width: 414px) {
  .aside-road .road-content .list-part {
    border: 1px solid #e8e8e8;
  }
}

@media (max-width: 414px) {
  .aside-road {
    margin-top: 15px;
  }
}

.test-part-common .sec-head.sec-head-common-2 {
  text-align: center;
  padding: 15px 0px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 15px;
}

.test-part-common .sec-head.sec-head-common-2 .heading {
  font-size: 25px;
  font-weight: 500;
}

@media (max-width: 414px) {
  .test-part-common .sec-head.sec-head-common-2 .sub-heading {
    font-size: 14px;
  }
}

.test-part-common .sec-body.sec-body-common-2 {
  padding: 25px 50px;
}

.test-part-common .sec-body.sec-body-common-2 .box-picture {
  text-align: center;
  margin-bottom: 30px;
}

.test-part-common .sec-body.sec-body-common-2 .box-picture .image {
  height: 400px;
}

@media (max-width: 414px) {
  .test-part-common .sec-body.sec-body-common-2 .box-picture .image {
    height: auto;
  }
}

@media (max-width: 414px) {
  .test-part-common .sec-body.sec-body-common-2 .box-picture {
    margin-bottom: 15px;
  }
}

.test-part-common .sec-body.sec-body-common-2 .box-audio {
  text-align: center;
  margin-bottom: 30px;
}

.test-part-common .sec-body.sec-body-common-2 .box-audio audio {
  width: 50%;
}

@media (max-width: 1600px) {
  .test-part-common .sec-body.sec-body-common-2 .box-audio audio {
    width: 65%;
  }
}

@media (max-width: 1440px) {
  .test-part-common .sec-body.sec-body-common-2 .box-audio audio {
    width: 70%;
  }
}

@media (max-width: 1366px) {
  .test-part-common .sec-body.sec-body-common-2 .box-audio audio {
    width: 75%;
  }
}

@media (max-width: 414px) {
  .test-part-common .sec-body.sec-body-common-2 .box-audio audio {
    width: 100%;
  }
}

.test-part-common .sec-body.sec-body-common-2 .box-question {
  margin-bottom: 50px;
}

.test-part-common .sec-body.sec-body-common-2 .box-question__title {
  font-size: 25px;
  color: #000;
  font-weight: 500;
  margin-bottom: 25px;
}

.test-part-common .sec-body.sec-body-common-2 .box-question__title span {
  color: #666;
  font-size: 18px;
  font-weight: normal;
}

.test-part-common .sec-body.sec-body-common-2 .box-question__content-text {
  margin: 30px 0 50px 0;
  border: 1px solid #ccc;
  padding: 15px 30px;
  background-color: #f3f3f3;
}

.test-part-common .sec-body.sec-body-common-2 .box-question__content-text p {
  line-height: 1.5;
}

@media (max-width: 414px) {
  .test-part-common .sec-body.sec-body-common-2 .box-question__content-text {
    padding: 15px;
  }
}

.test-part-common .sec-body.sec-body-common-2 .box-question .list-question li .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.test-part-common .sec-body.sec-body-common-2 .box-question .list-question li .item__choice {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.test-part-common .sec-body.sec-body-common-2 .box-question .list-question li .item__content {
  margin-top: 10px;
  line-height: 1.25;
  width: calc(100% - 40px);
}

.test-part-common .sec-body.sec-body-common-2 .box-question .list-question li .item__content p {
  font-weight: normal;
  line-height: 1.25;
}

.test-part-common .sec-body.sec-body-common-2 .box-question .list-question li .item.check-true .item__choice {
  background-color: #0C980C;
  color: #fff;
  border-color: #0C980C;
}

.test-part-common .sec-body.sec-body-common-2 .box-question .list-question li .item.check-true .item__content {
  color: #0C980C;
}

.test-part-common .sec-body.sec-body-common-2 .box-question .list-question li .item.check-false .item__choice {
  background-color: red;
  color: #fff;
  border-color: red;
}

.test-part-common .sec-body.sec-body-common-2 .box-question .list-question li .item.check-false .item__content {
  color: red;
  text-decoration: line-through;
}

.test-part-common .sec-body.sec-body-common-2 .box-question .list-question li:not(:last-child) {
  margin-bottom: 15px;
}

@media (max-width: 414px) {
  .test-part-common .sec-body.sec-body-common-2 {
    padding: 0;
  }
}

.test-part-common .sec-body .box-question-part {
  margin: 0 200px 50px 200px;
  padding: 15px 20px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
}

.test-part-common .sec-body .box-question-part p {
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 15px;
  text-align: justify;
}

@media (max-width: 1600px) {
  .test-part-common .sec-body .box-question-part {
    margin: 0 0 50px 0;
  }
}

@media (max-width: 414px) {
  .test-part-common .sec-body .box-question-part {
    padding: 15px;
  }
}

.box-time {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 20px 0;
  border-top: 1px solid #e8e8e8;
  -webkit-box-shadow: 1px 1px 10px #ccc;
          box-shadow: 1px 1px 10px #ccc;
  z-index: 2;
}

.box-time.box-time-pc .box-time-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.box-time.box-time-pc .box-time-content__left .btn {
  font-size: 18px;
}

.box-time.box-time-pc .box-time-content__center {
  margin-left: 120px;
}

.box-time.box-time-pc .box-time-content__center i {
  font-size: 25px;
  color: #0C7C94;
}

.box-time.box-time-pc .box-time-content__center #ten-countdown {
  font-size: 25px;
  font-weight: 600;
  color: #0C7C94;
}

.box-time.box-time-pc .box-time-content__center.writing-test {
  margin-left: 0;
}

.box-time.box-time-mb {
  padding: 0;
}

.box-time.box-time-mb .box-time-mb-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.box-time.box-time-mb .box-time-mb-content .time-total {
  color: red;
}

.box-time.box-time-mb .box-time-mb-content .time-total i {
  font-size: 20px;
  font-weight: 500;
}

.box-time.box-time-mb .box-time-mb-content .time-total span {
  font-size: 20px;
  font-weight: 500;
}

.box-time .box-button .btn {
  display: inline-block;
  margin-left: 20px;
  padding: 10px 25px;
  font-size: 18px;
}

.box-time .box-button .btn i {
  margin-left: 10px;
}

@media (max-width: 414px) {
  .box-time .box-button .btn {
    font-size: 14px;
    padding: 5px 10px;
  }
}

.table-question {
  position: absolute;
  bottom: calc(100% + 20px);
  left: -15px;
  width: calc(100% + 30px);
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-bottom: 0;
  padding: 10px 10px 10px 10px;
  display: none;
}

.table-question .title {
  padding: 0 5px;
  margin-bottom: 10px;
  font-size: 18px;
}

.table-question .content {
  text-align: center;
}

.table-question .content li {
  display: inline-block;
  margin: 5px;
}

.table-question .content li span {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: #fff;
  background-color: #22aac7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 500;
}

@media (max-width: 414px) {
  .table-question .content li span {
    font-size: 16px;
    height: 50px;
    width: 50px;
  }
}

.table-question .content li span.checked {
  background-color: #0C7C94;
}

@media (max-width: 414px) {
  .table-question .content li {
    margin: 5px 8px;
  }
}

@media (max-width: 375px) {
  .table-question .content li {
    margin: 5px;
  }
}

@media (max-width: 414px) {
  .table-question {
    position: unset;
    display: block;
    left: 0;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
}

.box-record {
  margin-bottom: 25px;
}

.box-record .outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box-record #clock,
.box-record #clock-mb {
  font-size: 55px;
  color: #676c82;
  font-family: 'Roboto';
}

.box-record .buttons {
  height: 80px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-record .buttons > div + div {
  margin-left: 35px;
}

.box-record .buttons > div {
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 50%;
}

.box-record #play svg,
.box-record #play-mb svg {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 18px);
  width: 36px;
  height: 36px;
  fill: #676c82;
}

.box-record #pause,
.box-record #pause-mb,
.box-record #play,
.box-record #play-mb {
  width: 60px;
  height: 60px;
  background: #fff;
  border: 4px solid #676c82;
  -webkit-transition: background 200ms linear;
  transition: background 200ms linear;
}

.box-record #pause:hover,
.box-record #pause-mb:hover,
.box-record #play:hover,
.box-record #play-mb:hover {
  background: #676c82;
}

.box-record #play:hover svg,
.box-record #play-mb:hover svg {
  fill: #fff;
}

.box-record #pause:before,
.box-record #pause-mb:before,
.box-record #pause:after,
.box-record #pause-mb:after {
  content: "";
  width: 4px;
  height: 35%;
  top: 32.5%;
  background: #676c82;
  position: absolute;
}

.box-record #pause:hover:before,
.box-record #pause-mb:hover:before,
.box-record #pause:hover:after,
.box-record #pause-mb:hover:after {
  background: #fff;
}

.box-record #pause::before,
.box-record #pause-mb::before {
  left: 35%;
}

.box-record #pause::after,
.box-record #pause-mb::after {
  left: 55%;
}

.box-record #stop,
.box-record #stop-mb {
  width: 80px;
  height: 80px;
  background: #f15d5d;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}

.box-record #stop:hover,
.box-record #stop-mb:hover {
  background: #f1593d;
}

.box-record #stop:active,
.box-record #stop-mb:active {
  -webkit-box-shadow: inset 0 2px 28px rgba(0, 0, 0, 0.25), inset 0 2px 10px rgba(0, 0, 0, 0.22);
          box-shadow: inset 0 2px 28px rgba(0, 0, 0, 0.25), inset 0 2px 10px rgba(0, 0, 0, 0.22);
}

.box-record #stop:active::before,
.box-record #stop-mb:active::before {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.box-record #stop::before,
.box-record #stop-mb::before {
  content: "";
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 14px);
  background: #FFF;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  -webkit-box-shadow: 0 14px 18px rgba(0, 0, 0, 0.11), 0 10px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0 14px 18px rgba(0, 0, 0, 0.11), 0 10px 10px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 100ms linear;
  transition: -webkit-box-shadow 100ms linear;
  transition: box-shadow 100ms linear;
  transition: box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
}

.test-detail-mb {
  margin: 15px 0;
}

.test-detail-mb .nav-tabs > li > a {
  margin: 0;
  border: none;
}

.test-detail-mb .nav-tabs > li.active > a,
.test-detail-mb .nav-tabs > li.active > a:focus,
.test-detail-mb .nav-tabs > li.active > a:hover {
  border: none;
}

.test-detail-mb .nav.nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.test-detail-mb .nav.nav-tabs li.active {
  position: relative;
}

.test-detail-mb .nav.nav-tabs li.active:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #00aeef;
  border-radius: 3px 3px 0 0;
  z-index: 2;
}

@media (max-width: 414px) {
  .test-detail-mb {
    margin-bottom: 60px;
  }
}

.modal-submit {
  padding-right: 0 !important;
}

.modal-submit .modal-content .modal-header {
  border: none;
  padding: 0;
}

.modal-submit .modal-content .modal-header button {
  font-size: 30px;
  padding: 10px 15px 0 0;
}

.modal-submit .modal-content .modal-body {
  text-align: center;
}

.modal-submit .modal-content .modal-body .title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5px;
}

.modal-submit .modal-content .modal-body .sub-title {
  font-size: 22px;
  color: #333;
  margin-bottom: 30px;
}

.modal-submit .modal-content .modal-body .text {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 5px;
}

.modal-submit .modal-content .modal-body .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 160px;
  background-color: #0C7C94;
  border-radius: 50%;
  margin: 20px auto;
}

.modal-submit .modal-content .modal-body .circle .point {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.modal-submit .modal-content .modal-body .box-button {
  margin: 20px 0 35px 0;
}

.modal-submit .modal-content .modal-body .box-button .btn {
  display: block;
  width: 320px;
  margin: 0 auto 15px auto;
}

.sec-route {
  margin-bottom: 50px;
}

.sec-route .sec-head .heading {
  margin-bottom: 5px;
}

.sec-route .sec-head .sub-heading {
  color: #858585;
}

@media (max-width: 414px) {
  .sec-route .sec-head {
    padding: 20px 0;
    text-align: center;
  }
}

.sec-route .sec-body {
  padding: 0 35px;
}

.sec-route .sec-body .box-progress {
  background-color: #ccc;
  height: 2px;
  margin: 20px 60px;
  position: relative;
}

.sec-route .sec-body .box-progress .dot {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  top: -10px;
}

.sec-route .sec-body .box-progress .dot.dot-1 {
  left: 0;
}

.sec-route .sec-body .box-progress .dot.dot-2 {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sec-route .sec-body .box-progress .dot.dot-3 {
  right: 0;
}

@media (max-width: 414px) {
  .sec-route .sec-body .box-progress {
    margin: 20px 35px;
  }
}

.sec-route .sec-body .box-level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-route .sec-body .box-level .level-child .text {
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
}

.sec-route .sec-body .box-level .level-child .point {
  color: #fff;
  background-color: #0C7C94;
  font-size: 25px;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 22.5px;
}

@media (max-width: 414px) {
  .sec-route .sec-body .box-level .level-child .point {
    font-size: 16px;
  }
}

@media (max-width: 414px) {
  .sec-route .sec-body {
    padding: 0;
  }
}

@media (max-width: 414px) {
  .sec-route {
    margin-bottom: 25px;
  }
}

.mini-test {
  margin-bottom: 40px;
  margin-left: 30px;
}

.mini-test .collapse-title {
  text-transform: uppercase;
  text-align: center;
  background-color: #0C7C94;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.mini-test .collapse-content .list-photo {
  margin: 0;
}

@media (max-width: 414px) {
  .mini-test {
    margin-left: 0px;
  }
}

.test-content-common-child {
  text-align: center;
}

.test-content-common-child p {
  font-weight: normal;
  line-height: 1.5;
}

@media (max-width: 414px) {
  .test-content-common-child p {
    font-size: 14px;
  }
}

.test-content-common-child .text-big {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 500;
  margin: 15px 0 35px 0;
  line-height: 1.25;
}

@media (max-width: 414px) {
  .test-content-common-child .text-big {
    font-size: 22px;
  }
}

.test-content-common-child .text-middle {
  font-size: 20px;
  margin-bottom: 20px;
}

@media (max-width: 414px) {
  .test-content-common-child .text-middle {
    font-size: 18px;
  }
}

.test-content-common-child .box-button {
  margin-top: 30px;
}

.test-content-common-child .box-button .btn {
  padding: 10px 35px;
  font-size: 25px;
}

.sec-writing-test {
  padding: 20px 10px;
}

.sec-writing-test .writing-test-common__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.sec-writing-test .writing-test-common__content p {
  font-weight: normal;
  margin-bottom: 15px;
  line-height: 1.25;
  font-size: 15px;
}

.sec-writing-test .writing-test-common__content textarea {
  background: #f3f3f3;
  border-radius: 5px;
  width: 100%;
  min-height: 500px;
  padding: 20px;
}

.sec-speaking-test {
  padding: 50px 200px;
}

.sec-speaking-test .box-question-speaking {
  margin-bottom: 50px;
  padding: 20px 25px;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
}

.sec-speaking-test .box-question-speaking p {
  line-height: 1.5;
  font-weight: 500;
  text-align: justify;
}

@media (max-width: 1600px) {
  .sec-speaking-test {
    padding: 50px;
  }
}

@media (max-width: 414px) {
  .sec-speaking-test {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */