.sec-speaking-test {
    padding: 50px 200px;

    .box-question-speaking {
        margin-bottom: 50px;
        padding: 20px 25px;
        border: 1px solid #ccc;
        background-color: $cl-f3;

        p {
            line-height: 1.5;
            font-weight: 500;
            text-align: justify;
        }
    }

    @include respond (max-1600) {
        padding: 50px;
    }

    @include respond (max-414) {
        padding: 0;
    }
}