* {
    &:hover {
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -ms-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s;
    }
}

.active-pc {
    display: block;

    @include respond (max-414) {
        display: none;
    }
}

.active-mb {
    display: none;

    @include respond (max-414) {
        display: block;
    }
}

.dp-block {
    display: block;
}

.dp-none {
    display: none;
}

.row.row-mg-0 {
    margin-left: 0px;
    margin-right: 0px;

    .col-pd-0 {
        padding-right: 0px;
        padding-left: 0px;
    }
}

.row.row-mg-75 {
    margin-left: -7.5px;
    margin-right: -7.5px;

    .col-pd-75 {
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
}

.row.row-mg-10 {
    margin-left: -10px;
    margin-right: -10px;

    .col-pd-10 {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.mt40 {
    margin-top: 40px;
}

.mb0 {
    margin-bottom: 0px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb35 {
    margin-bottom: 35px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb45 {
    margin-bottom: 45px;
}

.mb50 {
    margin-bottom: 50px;
}

.text-red {
    // color: $color-hover;
    color: red;
}

.text-bold {
    // font-family: $font-bold;
    font-weight: 600;
}

.text-cyan {
    color: $cl-cyan;
}

#to_top {
    display: none;
    border: medium none;
    bottom: 20px;
    cursor: pointer;
    text-align: center;
    height: 30px;
    line-height: 32px;
    outline: medium none;
    padding: 0;
    position: fixed;
    right: 20px;
    width: 30px;
    z-index: 89;
    // background: $color-hover;
    background: $cl-blue-ebomb;

    i {
        color: #fff;
    }

    @include respond (max-414) {
        right: 15px;
        bottom: 70px;
    }
}

// _____________________________________________
// .test-page {
//     min-height: 100vh;
// }

.box-button {
    .btn {
        &.btn-cyan {
            background-color: $cl-cyan;
            color: #fff;

            &:hover {
                background-color: #179ebb;
            }
        }

        &.btn-blue-ebomb {
            background-color: $cl-blue-ebomb;
            color: #fff;

            &:hover {
                background-color: #029cd6;
            }
        }
    }
}

.bg-f3 {
    background-color: $cl-f3;
}

.sec-head {
    &.sec-head-common-1 {
        padding: 20px 35px;

        .heading {
            font-size: 25px;
            font-weight: 500;
        }

        @include respond (max-414) {
            padding: 20px 0;
        }
    }
}

.list-photo {
    margin-left: 35px;
    border: 1px solid $cl-border;

    li {
        .photo-title {
            display: block;
            color: $cl-blue;
            padding: 10px 15px;

            &:hover {
                background-color: #f9f9f9;
            }
        }

        &:not(:last-child) {
            border-bottom: 1px solid $cl-border;
        }
    }

    &.list-right {
        margin-left: 20px;

        @include respond (max-414) {
            margin-left: 0px;
        }
    }

    @include respond (max-414) {
        margin-left: 0px;
        margin-bottom: 25px;
    }
}

.main-content {
    @include respond (max-414) {
        background-color: #fff;
    }
}

.aside-right {
    padding: 0;
}