.footer {
    border-top: 1px solid $cl-border;
    padding: 15px 20px 5px 20px;

    .text {
        font-weight: 400;
        margin-bottom: 10px;
        font-size: 14px;
        color: #666;
        text-align: center;
        line-height: 1.5;
    }
}