.aside-road {
    margin-bottom: 30px;

    .road-title {
        padding: 15px;
        color: #fff;
        background-color: $cl-cyan;
        text-transform: uppercase;
        cursor: pointer;
    }

    .road-content {
        .list-part {
            border-left: 1px solid $cl-border;
            background-color: #fff;

            li {
                .part-detail {
                    padding: 15px 15px 15px 60px;
                    position: relative;

                    .title {
                        color: #000;
                        font-weight: 500;
                        margin-bottom: 5px;
                    }

                    .sub-title {
                        color: #666;
                    }

                    .item-line-height {
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 29px;
                        width: 2px;
                        height: 100%;
                        background-color: #ccc;
                    }

                    .item-circle {
                        position: absolute;
                        content: '';
                        top: 50%;
                        transform: translateY(-50%);
                        left: 17.5px;
                        width: 25px;
                        height: 25px;
                        border: 2px solid #ccc;
                        border-radius: 50%;
                        background-color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    i.checked {
                        display: inline-block;
                        margin: -1px 0 0 -1px;
                        font-size: 23px;
                        color: $cl-cyan;
                    }
                }

                &:not(:last-child) {
                    border-bottom: 1px solid $cl-border;
                }
            }

            @include respond (max-414) {
                border: 1px solid $cl-border;
            }
        }
    }

    @include respond (max-414) {
        margin-top: 15px;
    }
}