.box-time {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    border-top: 1px solid $cl-border;
    box-shadow: 1px 1px 10px #ccc;
    z-index: 2;

    &.box-time-pc {
        .box-time-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            &__left {
                .btn {
                    font-size: 18px;
                }
            }

            &__center {
                margin-left: 120px;

                i {
                    font-size: 25px;
                    color: $cl-cyan;
                }

                #ten-countdown {
                    font-size: 25px;
                    font-weight: 600;
                    color: $cl-cyan;
                }

                &.writing-test {
                    margin-left: 0;
                }
            }

            &__right {
                // .box-button {
                //     .btn {
                //         display: inline-block;
                //         margin-left: 20px;
                //         padding: 10px 25px;
                //         font-size: 18px;

                //         i {
                //             margin-left: 10px;
                //         }
                //     }
                // }
            }

        }
    }

    &.box-time-mb {
        padding: 0;

        .box-time-mb-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;

            .time-total {
                color: red;

                i {
                    font-size: 20px;
                    font-weight: 500;
                }

                span {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }
    }

    .box-button {
        .btn {
            display: inline-block;
            margin-left: 20px;
            padding: 10px 25px;
            font-size: 18px;

            i {
                margin-left: 10px;
            }

            @include respond (max-414) {
                font-size: 14px;
                padding: 5px 10px;
            }
        }
    }
}

.table-question {
    position: absolute;
    bottom: calc(100% + 20px);
    left: -15px;
    width: calc(100% + 30px);
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-bottom: 0;
    padding: 10px 10px 10px 10px;
    display: none;

    .title {
        padding: 0 5px;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .content {
        text-align: center;

        li {
            display: inline-block;
            margin: 5px;

            span {
                height: 35px;
                width: 35px;
                border-radius: 50%;
                color: #fff;
                background-color: #22aac7;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                font-weight: 500;

                @include respond (max-414) {
                    font-size: 16px;
                    height: 50px;
                    width: 50px;
                }

                &.checked {
                    background-color: $cl-cyan;
                }
            }

            @include respond (max-414) {
                margin: 5px 8px;
            }

            @include respond (max-375) {
                margin: 5px;
            }
        }
    }

    @include respond (max-414) {
        position: unset;
        display: block;
        left: 0;
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
    }
}