.test-detail-mb {
    margin: 15px 0;

    .nav-tabs>li>a {
        margin: 0;
        border: none;
    }

    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        border: none;
    }

    .nav.nav-tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            &.active {
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    background: $cl-blue-ebomb;
                    border-radius: 3px 3px 0 0;
                    z-index: 2;
                }

            }
        }
    }

    .tab-content {
        // margin: 15px 0;
    }

    @include respond (max-414) {
        margin-bottom: 60px;
    }
}